.vs/
ZeroPassAlert/bin/
ZeroPassAlert/bin/*
ZeroPassAlert/bin/**
ZeroPassAlert/obj/
ZeroPassAlert/obj/*
ZeroPassAlert/obj/**
ZeroPassAlertSetup/Debug/
ZeroPassAlertSetup/Release/
ZeroPassSetup/Debug/
ZeroPassSetup/Release/
ZeroPassUpdater/bin/
ZeroPassUpdater/obj/
CustomAction/bin/
CustomAction/obj/

/packages/